.gallery-section {
  padding: 20px 0;
}

.gallery-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: black;
  margin-bottom: 20px;
}

/* ---- GALERIA ALINHADA (SEM MASONRY) ---- */

.gallery-masonry {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  gap: 14px;
  width: 320px;         /* deixe igual à largura que você quer */
}


.gallery-item {
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 110px;       /* ALTURA FIXA PARA ALINHAR */
  object-fit: cover;   /* recorta sem distorcer */
  display: block;
  filter: grayscale(100%);  
  transition: transform .3s ease;
}

.gallery-item img:hover{
  transform: scale(1.5);
  filter: grayscale(0%);  
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .gallery-masonry {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

@media (max-width: 600px) {
  .gallery-masonry {
    grid-template-columns: repeat(1, 1fr);
  }
}
